html, body {
	width: 100%;
	height: 100%;
	font-size: 18px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

	color: white;
	background: black;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.wrapper{
    height: 90%;
    width: 30%;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
    outline: none;
    cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}


form {
    --text-color: #afafaf;
}
  .field {
    width: 100%;
    margin: 0 auto;
    position: relative;
    border-bottom: 2px dashed var(--text-color);
    margin: 4rem 0 1rem 0;
    transition: 500ms;
  }
  .field-surname{
    margin: 3rem 0 1rem 0.5rem !important;
  }
  .field-name{
    margin: 3rem 0.5rem 1rem 0 !important;
  }

  .label {
    color:var(--text-color);
    font-size: 1.2rem;
  }
  .input {
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    transition: border 500ms;
  }
  .input:valid {
    color: yellowgreen;
  }
  .input:invalid {
    color: orangered;
  }
  /* Border animation */
  .field::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: #d16dff;
    transform: scaleX(0);
    transform-origin: 0%;
    opacity: 0;
    transition: all 500ms ease;
    top: 2px;
  }
  .field:focus-within {
    border-color: transparent;
  }
  .field:focus-within::after {
    transform: scaleX(1);
    opacity: 1;
  }
  /* Label animation */
  .label {
    z-index: -1;
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0%;
    transition: transform 400ms;
  }

  .field:focus-within .label,
  .input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-5rem);
    opacity: 1;
  }

  /* Strength Meter */
  .strength {
    display: flex;
    height: 20px;
    width: 100%;
  }
  .bar {
    margin-right: 5px;
    height: 100%;
    width: 25%;
    transition: box-shadow 500ms;
    box-shadow: inset 0px 20px #1f1f1f;
  }
  .bar-show {
    box-shadow: none;
  }
  .bar-1 {
    background: linear-gradient(to right, red, orangered);
  }
  .bar-2 {
    background: linear-gradient(to right, orangered, yellow);
  }
  .bar-3 {
    background: linear-gradient(to right, yellow, yellowgreen);
  }
  .bar-4 {
    background: linear-gradient(to right, yellowgreen, green);
  }
  .bar:last-child {
    margin-right: 0;
  }
  .strength-text {
    margin-top: 20px;
  }
  ul {
      list-style: none;
      margin: 10px 0;
      padding: 0;
      font-size: 0.7rem;
      text-align: left;
  }
  /* Buttons */
  .my_button {
    margin-top: 2rem;
    width: 100%;
    padding: 10px 30px;
    font-weight: bold;
    border: 2px solid greenyellow;
    color: greenyellow;
    border-radius: 10px;
    background: transparent;
    transition: all 1000ms;
  }
  button:disabled {
    border-color: var(--text-color);
    color: var(--text-color);
  }

    .isDone{
        color:red;
    }

  #toggle-password {
    position: absolute;
    cursor: help;
    font-size: 0.8rem;
    right: 0.25rem;
    bottom: 0.5rem;
    opacity: 0;
  }
  #toggle-password::after{
      content: 'asdasdsa';
  }

  .user-data{
      display: flex;
  }
